<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the About page</h2>
        <h3>About Me</h3>
        <p>My name is Aakib Kibria Khan, and I'm a student in the WEB700 course.</p>
        <p>Student ID: 157802224</p>
        <p>Program: Business Information Technology</p>
    </div>
</div>
