<div class="row">
    <main class="col-md-12">

        <h2>Tables</h2>
        <!-- Your table content here -->

        <h2>Lists</h2>
        <ul>
            <li>Mazda Wankel Rotary Engines
                <ul>
                    <li>40A</li>
                    <li>L8A</li>
                    <li>13B</li>
                </ul>
            </li>
            <li>Nissan RB26DETT</li>
            <li>Mitsubishi 4G63T</li>
            <li>Subaru E2J5</li>
        </ul>
        <p>This section contains a sample list demonstrating HTML list elements. It contains a few of my favorite JDM engines.</p>

                <h2>Images</h2>
                <img src="https://images.pexels.com/photos/18818776/pexels-photo-18818776/free-photo-of-japanese-sports-cars-on-the-parking-lot-at-night.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Japanese Sports Cars on the Parking Lot at Night">
                <img src="https://images.pexels.com/photos/8060364/pexels-photo-8060364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Grey Nissan Skyline GTR">
                <img src="https://images.pexels.com/photos/13575292/pexels-photo-13575292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="classic cars">
                <p>This section contains sample images with alt text.</p>

                <h2>Audio</h2>
                <audio controls>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <p>This section contains an HTML audio player.</p>

                <h2>Video</h2>
                <video controls>
                    <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                    Your browser does not support the video element.
                </video>
                <p>This section contains an HTML video player.</p>


    </main>
</div>
